$mq-pc-xxl: 1600px;
$mq-pc-xl: 1400px;
$mq-pc-lg: 1200px;
$mq-pc-1024: 1020px;
$mq-pc-md: 992px;
$mq-pc-sm: 768px;
$mq-pc-xs: 576px;
$mq-mobile-device: 414px;

$backgroundBanner: #002A59;
$backgroundBottomBanner: #EE3D42;

$colorSubtitle: #031F3E;
$colorTitle: #001C3B;

$backgroundFiltersContainer: #E8EBEF;

$borderInput: #B0B0B0;

$statusGreen: #7AC943;
$statusBlue: #3FA9F5;
$statusOrange: #FBB03B;

$checkboxBlue: #3FA9F5;