@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import './assets/scss/base';

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 !important;
    background-color: #F4F6F9;
}

input:active,
input:focus,
input:focus-visible,
input:hover,
select:active,
select:focus,
select:focus-visible,
select:hover {
    border: 1px solid $borderInput;
    outline: none;
    border-radius: 4px;
}
